/* This file contains the majority of css used in the project */

/* Set the background */
html, body {
  background-color: #fff;
  height: auto;
}

/* Setup footer */
footer {
  margin-top: 10px;
  font-size: 10pt;
}

/* Ids */
#wrapper {
  width: 90vw;
  padding: 10px;
  height: 100%;
  display: none;
}

#canvas-wrapper {
  display: block;
  width: 100%;
}

#canvas-left {
  display: inline-block;
  position: absolute;
  padding: 10px;
  height: 600px;
  width: auto;
}

#bottom-wrapper {
  width: 80%;
  display: block;
}

#options-wrapper {
  width: auto;
  display: block;
  padding: 5px;
  display: block;
}

#output {
  width: 100%;
  font-size: 13pt;
}

/* Classes */
.center {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.text-center {
  text-align: center;
}

.option-item {
  display: inline;
}

.action {
  display: inline;
  padding-right: 8px;
}

.one-px-border {
  border: 1px solid black;
}
